@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Nunito Sans";
    font-size: 15px;
}

header{
    font-family: 'Nunito Sans', sans-serif;
    
}

.titulo{
    color: #F9F9F9;

font-family: Nunito;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}